sudo: false
language: rust
cache: cargo

# run builds for all the trains (and more)
rust:
  - 1.17.0
  - stable
  - beta
  - nightly

matrix:
  include:
    - rust: nightly
      env: CLIPPY=true

script: ./travis.sh
